PLEX_CLAIM=

PUID=
PGID=
TOKEN_DUCKDNS=
DOMAIN_NAME=
EMAIL=

MYSQL_ROOT_PASSWORD=
MYSQL_HOST=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

SMTP_HOST=
SMTP_PORT=
SMTP_USERNAME=
SMTP_PASSWORD=

OPENVPN_PROVIDER=
OPENVPN_USERNAME=
OPENVPN_PASSWORD=
OPENVPN_CONFIG=

SONARR_APIKEY=
RADARR_APIKEY=

TMDB_APIKEY=

